/*null*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: radial-gradient(
    circle,
    rgba(175, 171, 173, 1) 0%,
    rgba(153, 152, 152, 0.5917717428768383) 50%,
    rgba(198, 202, 207, 1) 100%
  );
}

header {
  background-color: #a9a9a9;
}
.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}
.header__image {
  width: 70px;
}
.header__nav {
  display: flex;
  gap: 50px;
  font-size: 20px;
}
/* .header__nav li {
  margin-left: 50px;
} */
.header__nav a {
  color: #000;
}
.header__nav a:hover {
  color: #666565;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.about__image {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}
.about__photo {
  width: 25%;
  border-radius: 50%;
}
.about__info {
  margin-top: 80px;
}
.about__info-hello {
  text-align: center;
  font-size: 56px;
}
.about__info-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 34px;
  margin: 30px 0 30px 130px;
}
.about__info-info {
  margin: 50px 0 0 100px;
  font-size: 30px;
  max-width: 710px;
  line-height: 40px;
}
